absl-py==2.2.2
cachetools==5.5.2
facenet-pytorch==2.5.3
fer==22.5.1
ffmpeg==1.4
Flask==3.1.1
google-auth==2.40.2
google-auth-oauthlib==0.4.6
h5py==3.13.0
huggingface-hub==0.31.4
imageio==2.37.0
imageio-ffmpeg==0.6.0
matplotlib==3.10.3
moviepy==1.0.3
numpy==1.24.4
oauthlib==3.2.2
opencv-contrib-python==4.11.0.86
opencv-python-headless==4.11.0.86
pandas==2.2.3
Pillow==11.2.1
python-dotenv==1.1.0
requests==2.32.3
requests-oauthlib==2.0.0
spotipy==2.25.1
tensorboard==2.17.0
tensorflow==2.17.0
tensorflow-io-gcs-filesystem==0.31.0
torch==2.7.0
torchaudio==2.7.0
torchvision==0.22.0
transformers==4.52.3
gunicorn